@model List<Booking>

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Service Id</th> 
            <th>Service Type</th>
            <th>Booking Date</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Id</td>
                <td>@booking.ServiceId</td>
                <td>@booking.ServiceType</td>
                <td>@booking.BookingDate</td>
                <td>@booking.TotalPrice</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Details", "Bookings", new { id = booking.Id })">Details</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Bookings" method="post" onsubmit="return confirm('Are you sure you want to delete this booking?');">
                        <input type="hidden" name="id" value="@booking.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
